.no-search-view {
  width: 500px;
  height: 409px;
  margin-bottom: 15px;
}

.search-results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  background: #fafafa;
  align-items: center;
}

.search-results {
  width: 80%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #262626;
  margin-top: 40px;
}

.search-posts-container {
  padding: 20px;
  list-style-type: none;
  box-shadow: 0px 4px 16px 0px #7b879429;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

@media (min-width: 768px) {
  .mobile-search-view {
    display: none;
  }
}

.mobile-search-view {
  border: 1px solid #dbdbdb;
  width: 214px;
  height: 28px;
  border-radius: 3px;
  background: #fafafa;
}
