.no-search-view {
  width: 500px;
  height: 409px;
  margin-bottom: 15px;
}

.search-results-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  background: #fafafa;
  align-items: center;
}

.search-results {
  width: 80%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  color: #262626;
  margin-top: 40px;
}

.search-posts-container {
  padding: 20px;
  list-style-type: none;
  box-shadow: 0px 4px 16px 0px #7b879429;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.mobile-search-view {
  border: 1px solid #dbdbdb;
  width: 280px;
  height: 28px;
  border-radius: 3px;
  background: #fafafa;
  display: flex;
  margin: 30px 0 0 30px;
}
@media (min-width: 768px) {
  .mobile-search-view {
    display: none;
  }
}

.search-input {
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  background: transparent;
  flex-grow: 1;
}

.search-btn {
  width: 34px;
  height: 26px;
  background: #dbdbdb;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border: none;
}

.search-icon {
  color: #989898;
  height: 10px;
  width: 10px;
}

.search-message {
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  color: #989898;
  line-height: 32px;
  letter-spacing: -0.01px;
  text-align: center;
}

.nf-hd {
  color: #262626;
}

.search-msg-icon {
  width: 54px;
  height: 36px;
}

@media (max-width: 768px) {
  .search-results {
    display: none;
  }
  .search-results-container {
    background: transparent;
  }
  .search-posts-container {
    width: 100%;
    box-shadow: none;
    padding: 0px;
  }
}
