.story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.load-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .story-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}

.user-name {
  font-size: 14px;
}

@media (max-width: 768px) {
  .story-user-name {
    font-family: Roboto;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: #262626;
  }
}

.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desc {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.retry-btn {
  width: 86px;
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: none;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  line-height: 16px;
  letter-spacing: 0%;
  background: #4094ef;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
  color: #ffffff;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
