.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
}

.fail-img {
  width: 50%;
  margin-bottom: 20px;
}

.fail-desc {
  color: #262626;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
}

.retry-btn {
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 10px 8px 10px;
  font-size: 16px;
  font-weight: 500;
  background: #4094ef;
}
