.post-item {
  list-style-type: none;
  margin-bottom: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .post-item {
    border: 1px solid #dbdbdb;
  }
}

.profile-container {
  margin-top: 5px;
  display: flex;
  margin-left: 20px;
  align-items: center;
  margin-bottom: 5px;
}

.profile-pic {
  width: 38px;
  height: 38px;
  margin-right: 8px;
  border-radius: 50%;
}

.profile-name {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  vertical-align: middle;
}

.post-image {
  width: 100%;
  height: 600px;
}

.icons-container {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.likes {
  margin-left: 20px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  color: #262626;
  vertical-align: middle;
  margin-bottom: 0px;
}

.caption {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
  color: #262626;
  vertical-align: middle;
  margin-bottom: 0px;
  padding: 0px;
}

@media screen and (max-width: 768px) {
  .post-item {
    margin-bottom: 12px;
  }
}

.comment-name {
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  vertical-align: middle;
  color: #262626;
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

.comment {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  vertical-align: middle;
  color: #262626;
  margin-bottom: 0px;
  margin-left: 5px;
  padding: 0px;
}

.time {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  margin-left: 20px;
  vertical-align: middle;
  color: #989898;
  padding: 0px;
}

.link {
  text-decoration: none;
}
