.login-container {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-blog {
  display: none;
}
@media (min-width: 768px) {
  .login-blog {
    display: block;
    width: 40%;
    height: 372.99993896484375px;
    margin-right: 30px;
  }
}

.form-container {
  box-shadow: none;
  background-color: #ffffff;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 90%;
  height: 458px;
}

@media (min-width: 768px) {
  .form-container {
    box-shadow: 0px 8px 40px 0px #07070714;
    width: 32%;
    margin-left: 30px;
  }
}

.app-logo {
  width: 82px;
  height: 41.99925994873047px;
  align-self: center;
  margin-top: 60px;
}

.form-title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  align-self: center;
  width: 122px;
  height: 32px;
  margin-bottom: 30px;
}

.input-label-container {
  width: 80%;
  height: 64px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #262626;
  align-self: flex-start;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 2px;
  background: #eeeeee;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  padding-left: 10px;
  color: #262626;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.error-msg {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ef4444;
  align-self: flex-start;
  margin-left: 10%;
  margin-top: 0px;
}

.login-btn {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  background: #4094ef;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
}
